{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h1 style="margin-left: 35;font-size: 50">{{player.username | upper}}</h1>
  <h3 style="margin-left: 35;font-size: 50">Age: {{player.age}}</h3>
    <h2 style="margin-left: 40;font-size: 25">Current Game {{player.datePlayed}}: </h2>
      <h3 style="font-size: 20; text-align: center;">Current Season Wins and Losses:</h3>
      <div style="text-align: center;">
        <div style="display: inline-block;text-align: center;font-size: 20;margin-right:8px;">Kills:
          <br>
          <p style="display: inline-block;border: 1px solid black;text-align: center;padding: 1rem 1rem;">{{player.kills}}</p>
          </br>
        </div>
        <div style="display: inline-block;text-align: center;">
          <p style="display: inline-block;text-align: center;padding: 1rem 1rem;font-size: 50;">-</p>
        </div>
        <div style="display: inline-block;text-align: center;font-size: 20;">Deaths:
          <br>
          <p style="display: inline-block;border: 1px solid black;text-align: center;padding: 1rem 1rem;">{{player.deaths}}</p>
          </br>
        </div>
      </div>
        <div class="card-player-list">
          <strong style="margin-left: 40;font-size: 25">Team: {{player.team}} </strong> 
          </div>
        </div>
        
        <div class="card-match-list">
          <strong style="margin-left: 40;font-size: 20">Match History: </strong> 
            <div class="card-body">
              <div style="margin: auto; max-width: 800px;" class="card w-75 mb-3">
                <h6 style= "font-size: 20" class = "card-player-gameName">{{player.team.game.gameName | upper}}</h6>
                <h8 style= "font-size: 14" class = "card-player-gameID">Game ID: {{player.team.game.gameID}}</h8>
                <h8 style= "font-size: 14" class = "card-player-format">{{player.team.game.leagueFormat}}</h8>
                <h8 style= "font-size: 14" class = "card-player-structure">{{player.team.game.leagueStructure}}</h8>
              </div>
            </div>
        </div>
        
{% endblock %}
