{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<br>
  <div style="margin: auto; max-width: 800px;" class="card w-75 mb-3">
    <div class="card-body">
      <h1 style="text-align: center;">Players List</h1>
    </div>
  </div>
  {% if player_list %}
    {% for player in player_list %}
      <div style="margin: auto; max-width: 800px;" class="card w-75 mb-3">
        <div class="card-body">
          <h1 style="text-align: center;" class = "card-team-name"><a href="{{player.get_absolute_url}}">{{player.username}}</a></h1>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div style="margin: auto; max-width: 800px;" class="card w-75 mb-3">
      <div class="card-body">
        <p style="text-align: center;">There is no player!</p>
      </div>
    </div>
  {% endif %}
{% endblock %}
